{% extends "layout.html" %}

{% block content %}
    <h1>{{ nome }}</h1>

    <p class="lead">
        {% if tipo == 'mensal' %}
            {{ data.format('m/Y') }}
        {% else %}
            {{ data.format('d/m/Y') }}
        {% endif %}
            : {{ valor }} {{ unidade }}
    </p>

    <p class="text-right">
        Fontes:
        </br>
        <a target="_blank" href="https://www3.bcb.gov.br/sgspub/localizarseries/localizarSeries.do?method=prepararTelaLocalizarSeries">SGS/BACEN</a>
        </br>
        <a target="_blank" href="https://www.quandl.com/">QUANDL</a>
    </p>
{% endblock %}

