<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} financial-crawler</title>

        <link href="{{ app.request.basepath }}/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" type="text/css" />

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-54697575-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>

    </head>
    <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

<a href="https://github.com/royopa/financial-crawler"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Financial Crawler</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="{{ path('homepage') }}">Home</a></li>
                <li><a href="{{ path('cdi') }}">CDI</a></li>
                <li><a href="{{ path('cdi_cetip') }}">CDI Cetip</a></li>
                <li><a href="{{ path('selic') }}">SELIC</a></li>
                <li><a href="{{ path('ipca') }}">IPCA</a></li>
                <li><a href="{{ path('igpm') }}">IGPM</a></li>
                <li><a href="{{ path('bovespa') }}">BOVESPA</a></li>
                <li><a href="{{ path('cambio') }}">Câmbio</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
              {% block content %}{% endblock %}
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <script src="http://getbootstrap.com/assets/js/docs.min.js"></script>
    </body>
</html>
